* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    background-image: url(./img/BG.jpg);
    background-size: 100%;
    width: 1920px;
    height: 969px;
    overflow: hidden;
}

.wrapper {
    position: absolute;
    width: 655px;
    height: 913px;
    background-image: url(./img/red_above.png);
    top: 50%;
    left: 50%;
    margin-left: -327.5px;
    margin-top: -456.5px;
    
}

.shake {
    animation: shaking .3s  infinite;
}

@keyframes shaking {
    0% {
        transform: rotateZ(-6deg);
    }

    50% {
        transform: rotateZ(6deg);
    }

    100% {
        transform: rotateZ(-6deg);
    }
}


#header-box {
    margin: 90px auto 0;
    width: 430px;
    font-size: 30px;
    font-family: STXingKai;
    color: rgb(251,213,171);
}
#content-box {
    width: 430px;
    text-align: center;
    margin: 120px auto 0;
}

#confim {
    width: 226px;
    height: 82px;
    background-image: url(./img/send_money.png);
    position: absolute;
    bottom: 70px;
    left: 100px;

}

#refuse {
    width: 210px;
    height: 62px;
    background-image: url(./img/refuse.png);
    position: absolute;
    bottom: 90px;
    left: 350px;
}


.box {
    opacity: 0;
    display: none;
    
}


.box-show {
    opacity: 1;
    display: block;
    
}