* {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/* searchWrapper section  style  */
.wrapper {
    padding: 10px 15px;
    width: 400px;
    border: 1px solid #ccc;
    /* top  leftright  bottom */
    margin: 100px auto 0px;
    border-radius: 6px;
}

.wrapper .sWrapper {
    margin-bottom: 20px;
}

.wrapper .sWrapper .sText {
    width: 220px;
    height: 25px;
    padding-left: 10px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #777;
}

.wrapper .sWrapper .btn {
    cursor: pointer;
    color: #3c8dff;
    padding: 0px 5px;
    border-radius: 4px;
}

.wrapper .sWrapper .btn.active {
    color: #fff;
    background: #3c8dff;
}





/* friendList section style */
/* .wrapper .flWrapper {

}


.wrapper .flWrapper ul {
    
} */

.wrapper .flWrapper ul li {
    position: relative;
    padding-left: 50px;
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}


.wrapper .flWrapper ul li img {
    position: absolute;
    left: 0px;
    top: 10px;
}

.wrapper .flWrapper ul li .name {
    margin-bottom: 10px;
}

.wrapper .flWrapper ul li .des {
    font-size: 12px;
    color: #666;
}