* {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #406599;
}
a:visited {
    color: #999;
}

.list-wrapper {
    width: 660px;
    margin: 50px auto 0;
}

.item {
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #999;
    font-size: 0;
}

.left-img {
    width: 156px;
    border: 1px solid #999;
    overflow: hidden;
    margin-right: 12px;
}
.left-img > img {
    width: 100%;
    transition: transform .3s;
}
.left-img > img:hover {
    transform: scale(1.1, 1.1);
}
.right-content {
    width: 480px;
}

.left-img, .right-content {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}
.content-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px;
}
.banners {
    font-size: 0;
}

.banners > span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin-right: 4px;
}

.logo {
    width: 14px;
    height: 14px;
}
.logo > img {
    width: 100%;
}

.type-h {
    border: 1px solid slateblue;
}
