div{
    border: 2px solid;
    width: 200px;
    height: 200px;
    padding: 50px;
    /* CSS3属性 */
    box-sizing: border-box;
    /* -webkit-box-sizing: border-box; */
    display: -webkit-box;
    display: flex;
    /* -ms-box-sizing: border-box; */
/* 看浏览器能识别哪个，然后识别的代码靠后的才被用 */
    /* -o-box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
}