* {
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}

.clock {
    position: relative;
    width: 378px;
    height: 378px;
    margin: 100px auto;
    background: url(../images/clockFace.png) no-repeat;
}

.clock div {
    position: absolute;
}

/* 我想过1周的时间 

7天*24*60*60 = 604800s
秒针：6 * 604800 = 
分针：6*（604800/60）= 60480
时针：1小时=30deg 168*30

*/

#clock:target img[src*='second']{
    transform: rotate(3628800deg);
}



#clock:target img[src*='minute']{
    transform: rotate( 60480deg);
}

#clock:target img[src*='hour']{
    transform: rotate(5040deg);
}

.clock div.hours img {
   
    transition: transform 604800s linear;
}

.clock div.minute img {

   
    transition: transform 604800s linear;
}

.clock div.second img {
   
    /* //旋转360度 */
    transition: transform 604800s linear;

} 