* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    background-color: #f5f5f5;
}

.wrapper {
    width: 1226px;
    margin: 0 auto;
    position: relative;
}

.head-box {
    height: 58px;
    line-height: 58px;
    color: #333;
    font-weight: 200;
    font-size: 22px;
}
.discount-box {
    border-top: 1px solid #e53935;
    width: 234px;
    text-align: center;
    height: 339px;
    background-color: #f1eded;
    display: inline-block;
    vertical-align: top;
    margin-right: 9px;
}

#times {
    font-size: 21px;
    color: #ef3a3b;
    margin-top: 54px;
}

.discount-box > img {
    margin: 25px 0;
}

#active-desc {
    font-size: 15px;
    color: #999;
}

.discount {
    width: 168px;
    margin: 28px auto 0;
}
#hour, #minute, #second {
    display: inline-block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    background: #605751;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

.list-box {
    width: 978px;
    display: inline-block;
    overflow: hidden;
}
#list {
    display: flex;
    font-size: 0;
    transform: translateX(0px);
    transition: transform 0.4s;
}

#list > li {
    /* display: inline-block; */
    width: 234px;
    text-align: center;
    background-color: #fff;
    height: 339px;
    cursor: pointer;
    font-size: 14px;
    border-top-style: solid;
    border-top-width: 1px;
    /* border-top-color: #abc; */
    margin-right: 14px;
}


.title {
    font-size: 14px;
    color: #212121;
    font-weight: 400;
    margin: 0 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    color: #999;
    font-weight: 400;
    margin: 5px 25px 15px;
}

.price-off {
    color: #ff6709;
}

.price {
    color: #b0b0b0;
    font-size: 12px;
}

.btns {
    position: absolute;
    top: 15px;
    right: 0px;
    user-select:  ;
}

.btns > div {
    display: inline-block;
    width: 34px;
    height: 22px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    line-height: 22px;
    text-align: center;
}
.btns > .not {
    cursor: not-allowed;
    color: #ccc;
}

.btns > .allow {
    cursor: pointer;
    color: #888;
}

.rainbow-item-10 {
    border-top-color: #00c0a5
}
.item-0 {
    border-top-color: #00c0a5
}

.item-1 {
    border-top-color: #ffac13
}

.item-2 {
    border-top-color: #83c44e
}

.item-3 {
    border-top-color: #2196f3
}

.item-4 {
    border-top-color: #e53935
}

.item-5 {
    border-top-color: #00c0a5
}

.item-6 {
    border-top-color: #ffac13
}

.item-7 {
    border-top-color: #83c44e
}

.item-8 {
    border-top-color: #2196f3
}

.item-9 {
    border-top-color: #e53935
}



.item-11 {
    border-top-color: #ffac13
}

.item-12 {
    border-top-color: #83c44e
}

.item-13 {
    border-top-color: #2196f3
}