<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class="wrapper">
        <h4 class="header">小渡机器人</h4>
        <div class="content" id="content">
            <div class="mine">
                <div class="avitor"></div>
                <div class="text">今天天气怎么样？</div>
            </div>
            <div class="robot">
                <div class="avitor"></div>
                <div class="text">西北风3-4级 最低气温零下4度, 最高气温5度</div>
            </div>
        </div>
        <div class="inp">
            <input type="text" id="inp-box">
            <button id="submit">发送</button>
        </div>
    </div>
    <script src="./js/jquery-3.3.1.js"></script>
    <script src="js/index.js"></script>
</body>
</html>