* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #45454d;
}

#game {
  width: 600px;
  margin: 0 auto;
}

.score-box {
  text-align: center;
  height: 40px;
  line-height: 40px;
  color: #fff;
}

.holes {
  width: 100%;
  height: 600px;
  cursor: url('./image/hammer.ico'), auto;
}

.holes::after {
  content: '';
  display: block;
  clear: both;
}

.hole {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  background-image: url('./image/hole.png');
  background-size: cover;
}

.hole div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.hole .mouse {
  background-image: url('./image/mouse.png');
  }

.hole .boom {
  z-index: 1;
  background-image: url('./image/boom.png');;
}