*{
    padding: 0;
    margin: 0;
    list-style: none;
}

body{
    background: #282828;
    text-align: center;
    color: white;
}

.container{
    width: 300px;
    height: 300px;
    margin: 50px auto;
    perspective: 1000px;
}
.container .cube{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.container .cube li{
    position: absolute;
    width: 100%;
    height: 100%;
}
.container .cube li img{
    width: 100%;
    height: 100%;
}

.container .cube li.img1{
    transform: rotateY(0deg) translateZ(150px);
}

.container .cube li.img2{
    transform: rotateX(180deg) translateZ(150px);
}
.container .cube li.img3{
    transform: rotateY(90deg) translateZ(150px);
}
.container .cube li.img4{
    transform: rotateY(-90deg) translateZ(150px);
}
.container .cube li.img5{
    transform: rotateX(90deg) translateZ(150px);
}
.container .cube li.img6{
    transform: rotateX(-90deg) translateZ(150px);
}


.cube.init{
    transform:translateZ(-200px)  rotateX(-15deg) rotateY(18deg)
}
/* 让我们的这个立方体 初始化 有个角度 */

h2{
    margin: 20px auto;
}

.btnsAear{
    display: grid;
    grid-template-columns: 105px 105px 105px;
    /* 每列多宽  你写几个 默认几列 */
    grid-template-rows: 85px 85px;
    /* 每行多高  你写几行 默认几行 */
    justify-content: center;
    grid-gap: 15px;
}
.btnsAear input{
    width: 105px;
    height: 85px;
    outline: none;
    border:2px solid white;
}
.btnsAear input:focus{
    border:2px solid #e70;
}


.cube.show-image-1{
    transform:translateZ(-200px)  
}
.cube.show-image-2{
    transform:translateZ(-200px)  rotateX(-180deg);
}
.cube.show-image-3{
    transform:translateZ(-200px)  rotateY(-90deg);
}
.cube.show-image-4{
    transform:translateZ(-200px)  rotateY(90deg);
}
.cube.show-image-5{
    transform:translateZ(-200px)  rotateX(-90deg);
}
.cube.show-image-6{
    transform:translateZ(-200px)  rotateX(90deg);
}