.container {
    text-align: center;
}

.left {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}

.right {
    display: inline-block;
    width: 500px;
}

.round {
    width: 300px;
    height: 300px;
    background: url("./img/bg.gif");
    position: relative;
    cursor: pointer;
    /* css3过渡 */
    /* css属性的变化，在3秒内缓慢完成，而不是立即完成 */
    transition: 5s;
}

.center {
    width: 156px;
    height: 156px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.result{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.item{
    margin: 5px 0;
}

.item img{
    width: 16px;
    height: 16px;
}

.item span{
    vertical-align: 2px;
    margin-right: 5px;
}

.table{
    /* 网格布局 */
    display: grid;
    /* 每一列的宽度 */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}