@font-face {
  font-family: "iconfont"; /* project id 1896323 */
  src: url("//at.alicdn.com/t/font_1896323_ihu562niaic.eot");
  src: url("//at.alicdn.com/t/font_1896323_ihu562niaic.eot?#iefix")
      format("embedded-opentype"),
    url("//at.alicdn.com/t/font_1896323_ihu562niaic.woff2") format("woff2"),
    url("//at.alicdn.com/t/font_1896323_ihu562niaic.woff") format("woff"),
    url("//at.alicdn.com/t/font_1896323_ihu562niaic.ttf") format("truetype"),
    url("//at.alicdn.com/t/font_1896323_ihu562niaic.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont";
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.w {
  width: 1190px;
  margin: auto;
}
body {
  background-color: #f4f4f4;
}
