#only{
    width: 100px;
    height: 100px;
    background-color: red;
}

.test{
    font-style: 30px;
    font-weight: bold;
    font-style: normal;
    font-family: serif;
    color: rgb(0,255,255);
    width: 100px;
    height: 100px;
    border: 100px solid black;
    border-left-color: red;
    border-right-color: blue;
    border-top-color: green;
    border-bottom-color: #000; 
}
