*{
    margin:0;
    padding: 0;
}

.plat{
    /* 没办法这里不能设relative,那他就相对自己原先的位置定位了 */
    position: absolute;
    /* border: 5px solid black; */
    height: 186px;
    width: 380px;
    left: 50%;
    top: 50%;
    margin-top: -93px;
    margin-left: -190px;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid black;
    border-radius: 50%;
}

.circle1{
    border-color: blue;
    left:0;
    top: 0;
}
.circle2{
    border-color: black;
    left:130px;
    top: 0;
    z-index: 1;
}
.circle3{
    border-color: red;
    left:260px;
    top: 0;
}
.circle4{
    border-color: orange;
    left:65px;
    top: 65px;
}
.circle5{
    border-color: green;
    left:195px;
    top: 65px;
}