* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    overflow: hidden;
}
.container {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 100px auto;
    border: 1px solid red;
    /* overflow: hidden; */

}

.container .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 468px;
}

.container .scroll {
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    border: 1px solid black;


}

.container .scroll li {
    width: 100%;
}

.container .scroll li.up {
    width: 100%;
    height: 28px;
    cursor: pointer;
}

.container .scroll li.down {
    width: 100%;
    height: 28px;
    cursor: pointer;

}
.container .scroll li img{
    width: 27px;
    height: 28px;
}
.container .scroll .duration{
    position: relative;
    width: 100%;
    height: 242px;
}
.container .scroll .duration .bar{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    background: red;
    cursor: -webkit-grabbing;
}