input[type="text"],textarea,select{
    border: 1px solid #ccc;
}

input[tytp="text"]:focus,textarea:focus,select:focus{
    /* border: none; */
    outline: 1px solid #008c8c;

}

button{
    border: 2px solid #008c8c;
    border-radius: 5px;
}