*{
    margin: 0;
    padding: 0;
}

.right{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 0;
    background-color: #ffcccc;
    /* 半透明 */
    opacity: 0.5;
}

.left{
    margin-right: 100px;
    height: 100px;
    background-color: #123;
}