* {
  padding: 0;
  margin: 0;
}

.note-wrapper {
  position: relative;
  width: 1220px;
  margin: 50px auto;
}

/* .note-wrapper::after {
  content: '';
  display: block;
  clear: both;
} */

.note-column {
  width: 220px;
  margin-left: 12px;
  margin-right: 12px;
  float: left;
}

.note {
  width: 100%;
  
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  
  position: relative;

  margin-bottom: 24px;
  background-color: #fff;
}

.note::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0 ,0, .2);
  z-index: 1;
  display: none;
}

.note:hover::before {
  display: block;
}

.note-info {
  width: 100%;
}

.note-img {
  position: relative;
  width: 100%;
}

.note-img img {
  width: 100%;
}

.note-img .video {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background-image: url('./image/sprites.png');
  background-position: -10px -10px;
}

.info {
  font-size: 16px;
  color: #000;
  font-weight: 400;
  margin: 10px 15px;
  line-height: 24px;
}

.note-append {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.user {
  float: left;
}

.like {
  float: right;
}

.note-append::after {
  content: '';
  display: block;
  clear: both;
}

.avatar,
.name {
  display: inline-block;
  vertical-align: middle;
}

.avatar {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.verified {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background-image: url('./image/sprites.png');
  background-position: -48px -55px;
}

.name {
  font-size: 12px;
  color: #555;
  /* width: 87px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}


.like {
  float: right;
}

.heart,
.likes {
  vertical-align: middle;
}

.heart {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url('./image/sprites.png');
  background-position: -55px -10px;
}

.heart.heart--red {
  background-position: -10px -55px;
}

.likes {
  font-size: 12px;
  color: #555;
}

.more {
  clear: both;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ff2741;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}