body{
    background: #000;
}

.container{
    width: 500px;
    margin: 0 auto;
}

.container audio{
    display: block;
    width: 100%;
}

.container audio:focus{
    outline: none;
}

.lrc{
    height: 450px;
    margin-top: 30px;
    color: #888;
    overflow: hidden;
}

.lrc ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    /* 表示ul的样式变化，在0.3秒内完成，而不是瞬间完成 */
    transition: 0.3s;
}

.lrc ul li{
    height: 35px;
    line-height: 35px;
    transition: 0.3s;
}

/* 高亮的歌词效果 */
.lrc ul li.active{
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}