.seckill-countdown {
    float: left;
    width: 190px;
    height: 260px;
    background-color: #f00;
    margin-left: -100%;
}
.seckill-brand {
    width: 200px;
    height: 260px;
    float: left;
    margin-left: -200px;
    background-color: #fff;
}
.seckill-list {
    overflow: hidden;
    float: left;
    width: 100%;
    height: 260px;
}

.seckill-list .main {
    margin: 0 200px 0 190px;
    background-color: #fff;
    height: 100%;
}

.seckill-list .seckill-item {
    position: relative;
    width: 200px;
    height: 260px;
    display: inline-block;
}
.seckill-list .seckill-item__image {
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.lazyimg_img {
    width: 100%;
    height: 100%;
}
.seckill-list .seckill-item__name {
    font-size: 12px;
    font-weight: 400;
    color: #333;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.seckill-list .seckill-item__name {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
}
.seckill-list .seckill-item__price {
    width: 160px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
.seckill-list .seckill-item__price .price-miaosha {
    width: 92px;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    float: left;
}
.seckill-list .seckill-item__price .price-origin {
    height: 100%;
    width: 66px;
    float: right;
    background: #fff;
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: line-through;
    vertical-align: top;
}
.seckill-list .seckill-item__price {
    border: 1px solid #e1251b;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 24px;
    overflow: hidden;
    background-color: #e1251b;
}

.item::after {
    content: '';
    clear: both;
    display: block;
}

.seckill-brand .brand-item {
    position: relative;
    height: 240px;
} 
.seckill-brand .brand-item .item-image {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.seckill-brand .slider_item {
    padding: 10px;
}

.seckill-brand .brand-item .item-info {
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.5)),to(rgba(220,224,236,.5)));
    background: linear-gradient(180deg,rgba(255,255,255,.5),rgba(220,224,236,.5));
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: -40px;
}
.seckill-brand .brand-item .item-info-title {
    color: #666;
}

.seckill-brand .brand-item .item-info-promo {
    color: #333;
    font-weight: 700;
}
.seckill-brand .brand-item .item-info-action {
    color: #e1251b;
    border-radius: 14px;
    width: 82px;
    height: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    line-height: 22px;
    font-weight: 700;
    padding-left: 4px;
    font-size: 12px;
    border: 1px solid #e1251b;
    margin-top: 4px;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}
.seckill-brand .brand-item .item-info {
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.5)),to(rgba(220,224,236,.5)));
    background: linear-gradient(180deg,rgba(255,255,255,.5),rgba(220,224,236,.5));
    text-align: center;
    font-size: 14px;
    position: relative;
}