.shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999;
}

.shortcut a:hover {
    color: #f00;
}
.shortcut::after {
    content: '';
    display: block;
    clear: both;
}
.shortcut a{
    color: #999;
}
.shortcut .ttbar-mycity {
    float: left;
}
.shortcut .nav {
    float: right;
}

.shortcut .nav li {
    float: left;
    position: relative;
}
.shortcut .nav::after {
    content: '';
    display: block;
    clear: both;
}
.shortcut .nav span {
    float: left;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 10px 5px;
}
.shortcut .nav li .dt {
    padding: 0 5px;
    border: 1px solid transparent;
    position: relative;
    z-index: 10;
}
.shortcut .iconfont {
    vertical-align: middle;
}

.shortcut .dropdown {
    position: absolute;
    border: 1px solid #eee;
    top: 30px;
    display: none;
    background-color: #fff;
}
.shortcut .dropdown dd {
    white-space: nowrap;
}
.shortcut .dropdown dt {
    font-weight: bold;
}
.shortcut .nav .myJD + .dropdown dd {
    float: left;
    width: 126px;
    line-height: 24px;
}
.shortcut .nav .myJD + .dropdown {
    width: 280px;
}
.shortcut .nav .dropdown dl {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    padding: 10px 14px;
}
.shortcut .nav li:hover .dropdown {
    display: block;
}
.shortcut .nav li:hover .dt.dt-icon {
    background-color: #fff;
    border-color: #eee;
    border-bottom-color: #fff;

}
.shortcut .nav .my-company + .dropdown {
    width: 140px;
}
.shortcut .nav .my-company + .dropdown dd {
    width: 56px;
    float: left;
    line-height: 24px;
}

.shortcut .nav .app + .dropdown {
    width: 1190px;
    right: -85px;
    padding: 10px 0;
}
.shortcut .nav .app + .dropdown dl {
    float: left;
    border-bottom: none;
    border-right: 1px solid #eee;
    width: 340px;
}
.shortcut .nav .app + .dropdown dd {
    width: 85px;
    float: left;
    line-height: 24px;
}