div{
    width: 1000px;
    height: 300px;
    border: 2px solid;
    background-image: url("../imgs/3.jpg");
    background-repeat: no-repeat;
    background-size: 400px 200px;
    background-position: center top;
}

/* body{
    
    background-image: url("../imgs/3.jpg");
    background-repeat: no-repeat;
} */